@import './../../../../styles-variables.scss';

.mat-card {
  margin: 2rem 0;
  background-color: $gray-background-derken-10;
}

::ng-deep .product-card .mat-card-header-text {
  margin: 0;
}

.mat-card-content p {
  font-size: 1rem;
}

::ng-deep .product-card .mat-divider {
  position: relative !important;
  margin: 1rem 0 !important;
}

.mat-card-image {
  @include respond-to('gt-sm') {
    margin: 0;
  }
}
