<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    fxShow
    fxHide.gt-xs
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'push'"
    [opened]="false"
    (click)="drawer.close()"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        *ngFor="let nav of navigation"
        mat-list-item
        href="#"
        [routerLink]="nav.link"
        [routerLinkActive]="'active'"
        >{{ nav.label }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayoutAlign="space-between center">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        fxShow
        fxHide.gt-xs
      >
        <mat-icon fxFlex aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span fxHide fxShow.gt-xs>
        <button
          mat-button
          *ngFor="let nav of navigation"
          [routerLink]="[nav.link]"
          routerLinkActive="active"
        >
          {{ nav.label }}
        </button>
      </span>

      <div class="pointer cart-icon-wrapper">
        <mat-icon><fa-icon icon="shopping-cart"></fa-icon></mat-icon>
      </div>
    </mat-toolbar>
    <router-outlet #o="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
