@mixin respond-to($breakpoint) {
  @if $breakpoint == "lt-sm" {
    @media (max-width: 599px) {
      @content;
    }
  }
  @if $breakpoint == "gt-xs" {
    @media (min-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == "gt-sm" {
    @media (min-width: 960px) {
      @content;
    }
  }
  @if $breakpoint == "gt-md" {
    @media (min-width: 1280px) {
      @content;
    }
  }
}

$gray-background: #e8e8e8;
$gray-background-derken-10: darken($gray-background, 10%);
$background-shadow: 3px 3px 4px 4px #cfd0d4;

$gt-xs: 600px;
$gt-sm: 960px;
$gt-md: 1280px;
